/* You can add global styles to this file, and also import other style files */

/* styles.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Montserrat', sans-serif;
}

// Optional: Set font for specific elements
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

button, input, textarea, select {
  font-family: 'Montserrat', sans-serif;
}